<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bas.Properties.Settings.Db_sdfConnectionString" connectionString="Data Source=|DataDirectory|\DB\Db_sdf.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>